mixin toolCategoryLink(searchParamValue, label)
	a.padding-8-16.text-decoration-none.border-col-1-25.color-col-1-25.tools__card__category.font-family-ff-base-400.border-radius-4(href="./?category=" + searchParamValue)= label