footer.footer.background-col-1-100
	.footer__container.utility__mq__48__align__items__center.margin__inline__auto.display-grid.gap-24.max-inline-size-container.utility__mq__48__justify__content__sp.grid__template__columns__2__auto
		figure.no__margin
			svg.display__block.fill-col-1-25.nbs-logo(width="129" height="45" viewBox="0 0 129 45")
				use(href="./assets/images/svg/logos.svg#nbs-logo")
			figcaption.no__opacity.overflow-hidden.no__padding.sr__only.position-absolute(translate="no") Nestle Business Services LatAm
		figure.no__margin.justify-self-end
			svg.display__block.fill-col-1-25.ims-logo(width="58" height="45" viewBox="0 0 58 45")
				use(href="./assets/images/svg/logos.svg#ims-logo")
			figcaption.no__opacity.overflow-hidden.no__padding.sr__only.position-absolute(translate="no") Integrated Marketing Services
		p.grid-column-1-minus-1.no__margin__block.color-col-1-25.font-family-ff-base-400.line-height-1-6 Portal developed with the Websites and 
			abbr(title="Search Engine Optimization") SEO
			|  team (from 
			abbr(title="Integrated Marketing Services") IMS
			| , 
			abbr(title="Nestle Business Services") NBS
			|  LatAm). A continuous improvement initiative lead by 
			a.current-color(href="mailto:rodrigo.mendoza@py.nestle.com") Rodrigo Mendoza
			| , 
			time 2023
			|.
