header.header
	.header__container.margin__inline__auto.display__flex.justify__content__space__between
		figure.no__margin
			svg.display__block.nbs-logo(width="129" height="45" viewBox="0 0 129 45")
				use(href="./assets/images/svg/logos.svg#nbs-logo")
			figcaption.no__opacity.overflow-hidden.no__padding.sr__only.position-absolute(translate="no") Nestle Business Services LatAm
		figure.no__margin
			svg.display__block.ims-logo(width="58" height="45" viewBox="0 0 58 45")
				use(href="./assets/images/svg/logos.svg#ims-logo")
			figcaption.no__opacity.overflow-hidden.no__padding.sr__only.position-absolute(translate="no") Integrated Marketing Services
		picture.display__none
			source(media="(min-width:113.5rem)" srcset="./assets/images/png/tools/hammer.png")
			source(media="(min-width:88.375rem)" srcset="./assets/images/png/tools/hammer-480.png")
			img(src="./assets/images/png/tools/hammer-mobile.png" alt="")