section.hero.padding-block-end-48
	.hero__container.utility__mq__32__display__flex
		picture
			source(media="(min-width:113.5rem)" srcset="./assets/images/png/tools/gripper.png")
			source(media="(min-width:88.375rem)" srcset="./assets/images/png/tools/gripper-480.png")
			source(media="(min-width:32rem)" srcset="./assets/images/png/tools/gripper-mobile.png")
			source(media="(min-width:25.75rem)" srcset="./assets/images/png/tools/hammer-w412.png")
			img.inline-size-100.display__block.max-inline-size.hero__img(src="./assets/images/png/tools/hammer-mobile.png" alt="")
		.hero__copy.margin__inline__auto.margin-block-end-24.max-inline-size-792
			h1.no__margin__block.font__weight__normal.font-family-ff-base-400.margin-block-end-24.hero__title
				span Welcome to the portal that holds all the 
				span.hero__highlighted
					span.heading-font Tools
					|  developed by the team of Websites and 
					abbr(title="Search Engine Optimization") SEO
			a.text-decoration-none.justify__content__space__between.align-items-center.font-family-ff-base-400.appended-icon.border-radius-4.gap-8.display__inline-flex.hero__cta(href="#tools") Let’s browse the tools