section.purpose.padding-block-end-48
	.gap-24.purpose__container.display__flex.flex-direction-column
		picture
			source(media="(min-width:113.5rem)" srcset="./assets/images/png/tools/tools-589-vertical.png")
			source(media="(min-width:48rem)" srcset="./assets/images/png/tools/tools-389-vertical.png")
			source(media="(min-width:25.875rem)" srcset="./assets/images/png/tools/tools-horizontal-w365.png")
			img.inline-size-100.display__block.max-inline-size.margin__inline__auto.purpose__img(src="./assets/images/png/tools/tools-mobile-horizontal.png", alt="" loading="lazy")
		.purpose__copy.display__flex.flex-direction-column.margin__inline__auto.utility__mq__48__justify__content__sp.utility__mq__48__align__items__center
			.purpose__group.emoji__dizzy
				.purpose__content
					h2.font__weight__normal.font-family-ff-base-400.desktop__no__margin__block__start.purpose__title As a team, we have been involved in numerous challenging situations.
					p.line-height-1-6.color-col-1-75.font-family-ff-base-400.no-margin-block-end.purpose__detail It was through these experiences where we faced challenges in delivering tasks efficiently and in a timely manner that we realized the need for innovative solutions that could streamline our workflow and enhance our productivity. Hence, we ended up creating a comprehensive suite of tools tailored to address the specific pain points we encountered.
			.purpose__group.emoji__thinking
				.purpose__content
					h2.font__weight__normal.font-family-ff-base-400.desktop__no__margin__block__start.purpose__title Our team has encountered diverse scenarios that have tested our mettle.
					p.line-height-1-6.color-col-1-75.font-family-ff-base-400.no-margin-block-end.purpose__detail From optimizing website performance and improving search engine rankings to conducting thorough keyword research and tracking site analytics. We understand the importance of having the right resources at your disposal, and thus, we have curated a collection of tools that have proven invaluable to us in our endeavors.
			.purpose__group.emoji__shaking__hands
				.purpose__content
					h2.font__weight__normal.font-family-ff-base-400.desktop__no__margin__block__start.purpose__title We invite you to use the tools shared here or contribute by developing your own tools.
					p.line-height-1-6.color-col-1-75.font-family-ff-base-400.no-margin-block-end.purpose__detail We firmly believe in the power of collaboration and collective knowledge, and we hope that you find the tools useful. Explore our portal, discover the tools that resonate with your needs, and join us in shaping the future of Websites and 
						abbr(title="Search Engine Optimization") SEO.