template#tool-card
	.tools__card.border-radius-4.border-col-1-25.overflow-hidden.background-col-1-75
		img.display__block.inline-size-100.tools__featured__img(src="", alt="" loading="lazy")
		.tools__card__info
			h3.tools__card__name.font__weight__normal.no-margin-block-start
				a.tools__card__name__link.font-family-ff-base-400(href="" target="_blank")
			p.color-col-1-25.line-height-1-6.tools__card__description.font-family-ff-base-400
			p.color-col-1-25.line-height-1-6.font-family-ff-base-400 Developed by 
				a.tools__card__author.current-color(href="mailto:")
			.tools__card__categories.display__flex.margin-b-s-24.gap-8
template#tool-category-link
	a.padding-8-16.text-decoration-none.border-col-1-25.color-col-1-25.tools__card__category.font-family-ff-base-400.border-radius-4(href="./?category=")
template#tool-pagination-link
	a.padding-8-16.background-transparent.color-col-1-25.border-col-1-25.text-decoration-none.tools__pagination__link(href="./?page=")